#logged_in{display:none;}
.nav{text-align:right;}
.error{color:red;font-weight:bold;}
#connection_failed{display:none;}
#pleasewait{display:none;position:absolute;left:20px;top:5px;height:30px;padding:7px 20px;font-size:20px;background-color:#fff;border:1px solid #000;}
#orig_preview_img{position:absolute;left:-5000px;top:0px;}
#preview_container{position:relative;}
#preview_grid{position:absolute;left:0px;top:0px;}
#preview_controls{display:none;}
#game_overview{display:none;}
#grid{border:none;}
#grid span{display:block;}
#grid span.light{background-color:#ececec;}
#grid span.dark{background-color:#cacaca;}
#grid td,#grid td span{overflow:hidden;}
#tiles{width:900px;border:1px solid #000;margin:5px 0px;}
#tiles img{position:relative;padding:0px;margin:0px;-moz-user-select:none;-webkit-user-select:none;cursor:pointer;}
.draggable_img{position:absolute;-moz-user-select:none;-webkit-user-select:none;cursor:pointer;}
.dragged_img{cursor:default;z-index:4998;}
#game_clock{position:fixed;right:3px;bottom:3px;height:25px;background-color:#ddd;padding:5px;border:1px solid #000;z-index:4999;}